@model List<MovieModel>
<div class="row" id="movieCardsContainer">
    @{
        var groupedMovies = Model.GroupBy(m => m.MovieName);
        var delay = 0.1; // Initial delay in seconds

        foreach (var group in groupedMovies)
        {
            var movie = group.First();
            var companyNames = group.Select(m => m.CompanyName).ToList();

            <div class="col mb-2 mt-2 movie-card" style="animation-delay: @(delay);">
                <div class="card position-relative">
                    <img src="@movie.PosterUrl" alt="Poster Image" class="img-fluid">
                    <div class="button-container">
                        @foreach (var companyName in companyNames)
                        {
                            <button class="button" onclick="onCompanyButtonClick('@movie.MovieCode', '@companyName', '@movie.Overview', '@movie.PosterUrl','@movie.MovieName','@movie.MovieId', '@movie.BackdropPath', '@movie.CompanyTinNumber', '@movie.BranchCode')">
                                @companyName
                            </button>
                        }
                    </div>
                    <div class="card-title">
                        @movie.MovieName (@movie.ReleaseYear)
                    </div>
                </div>
            </div>

            delay += 0.1; // Increase delay for the next card
        }
    }
</div>

<script>
    function onCompanyButtonClick(movieCode, companyName, overview, posterUrl, movieName, movieId, backdropPath, companyTinNumber, branchcode) {
        // Create a form dynamically
        var form = $('<form action="/MovieDetails/Details" method="post">' +
            '<input type="hidden" name="movieCode" value="' + movieCode + '" />' +
            '<input type="hidden" name="companyName" value="' + companyName + '" />' +
            '<input type="hidden" name="overview" value="' + overview + '" />' +
            '<input type="hidden" name="posterUrl" value="' + posterUrl + '" />' +
            '<input type="hidden" name="movieName" value="' + movieName + '" />' +
            '<input type="hidden" name="movieId" value="' + movieId + '" />' +
            '<input type="hidden" name="backdropPath" value="' + backdropPath + '" />' +
            '<input type="hidden" name="companyTinNumber" value="' + companyTinNumber + '" />' +
            '<input type="hidden" name="branchcode" value="' + branchcode + '" />' +
            '</form>');
        // Append the form to the body
        $('body').append(form);

        // Submit the form
        form.submit();
    }
</script>
